<section id="characters" class="section">
  <h2 class="section__title">Personajes</h2>
  <div class="characters">
    <article class="character">
      <img
        src="./assets/images/ellie.png"
        alt="Ellie"
        class="character__img"
      />
      <h3 class="character__name">Ellie</h3>
      <p class="character__bio">
        La protagonista. Una joven marcada por la pérdida y movida por el deseo
        de justicia.
      </p>
    </article>

    <article class="character">
      <img src="./assets/images/abby.png" alt="Abby" class="character__img" />
      <h3 class="character__name">Abby</h3>
      <p class="character__bio">
        Una soldado fuerte y decidida, cuya historia se entrelaza con la de
        Ellie en un conflicto moral complejo.
      </p>
    </article>
  </div>
</section>