<section id="gameplay" class="section">
  <h2 class="section__title">Gameplay</h2>
  <p class="section__text">
    Explora un mundo postapocalíptico detallado y realista, enfrentándote a enemigos humanos e infectados. La mecánica combina sigilo, combate y exploración.
  </p>
  <p class="section__text">
    Esta remasterización incluye mejoras gráficas, nuevos desafíos y una experiencia más inmersiva en PS5.
  </p>
  <div class="gameplay__features">
    <article class="gameplay__features__feature">
      <h3 class="gameplay__features__feature-title"><i class="fa-solid fa-user-secret"></i> Sigilo y estrategia</h3>
      <p class="gamepla__features__feature-text">
        Evita enemigos, utiliza el entorno a tu favor y toma decisiones tácticas para sobrevivir.
      </p>
    </article>
    <article class="gameplay__features__feature">
      <h3 class="gameplay__features__feature-title"><i class="fa-solid fa-crosshairs"></i> Combate dinámico</h3>
      <p class="gameplay__features__feature-text">
        Armas, cuerpo a cuerpo y herramientas que permiten múltiples formas de enfrentarte a los adversarios.
      </p>
    </article>
    <article class="gameplay__features__feature">
      <h3 class="gameplay__features__feature-title"><i class="fa-solid fa-map-marked-alt"></i> Exploración inmersiva</h3>
      <p class="gameplay__features__feature-text">
        Descubre secretos, coleccionables y una narrativa enriquecida mientras exploras Seattle.
      </p>
    </article>
  </div>
</section>