<header class="header">
  <div class="header__content">
    <img
      src="./assets/images/logo-blanco.png"
      alt="Logo The Last of Us Parte 2 Remastered"
      class="header__logo"
    />
    <div>
      <p class="header__subtitle">
        Una historia de venganza, redención y esperanza.
      </p>
    </div>
  </div>

  <nav class="nav">
    <ul class="nav__list">
      <li><a href="#hero" class="nav__link">Inicio</a></li>
      <li><a href="#story" class="nav__link">Historia</a></li>
      <li><a href="#characters" class="nav__link">Personajes</a></li>
      <li><a href="#gameplay" class="nav__link">Gameplay</a></li>
    </ul>
  </nav>
</header>