// Fuentes
$font-family-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-serif: "Georgia", "Times New Roman", serif;

// Colores
$color-primary: #000000; // texto
$color-accent: #cb5a37; // naranja
$color-bg: #f5f5f5; // fondo

// Medidas
$container-max-width: 1024px;
$mq-md: 768px;
$mq-lg: 1024px;